/* Roboto  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.container-custom {
  color: black;
  border: 2px solid rgb(183, 183, 245);
  height: 50vh;
  padding: 2rem 1rem;
  margin: 0 auto;
  margin-top: 10vmin;
  font-family: 'Roboto', sans-serif; 
  text-align: center;
  border-radius: 2rem;
  background-color: rgb(183, 183, 245);
  width: max-content;
  position: fixed;
  right: 5%;
  top: 5%;
}

#heading {
  font-size: 4vh;
}
#fullURL {
  width: 35vw;
  margin: 1rem;
  padding: 0.35em 0.85em; 
  border-radius: 1rem;
  border: none;
}

#fullURL:focus{
  outline: none;
}

#alias-form{
  width: 55% !important;
  margin: auto;
}

Button {
  margin-right: 0.2rem !important;
}